name: CI/CD with Build Status to Pushgateway

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Simulate a build
        id: build-step
        run: |
          echo "hi"
          exit 0

      - name: Push build status to Pushgateway
        if: always()
        run: |
          if [ "${{ job.status }}" = "success" ]; then
            STATUS=1
          else
            STATUS=0
          fi
          echo "build_status{repository=\"${{ github.repository }}\",branch=\"${{ github.ref_name }}\",run_id=\"${{ github.run_id }}\",status=\"$STATUS\"} $STATUS" | \
          curl --data-binary @- http://af14c7555b43943c897f47b84d25f423-1894518563.us-east-1.elb.amazonaws.com:9091/metrics/job/build_pipeline
